<aside>
  <h2>Filter</h2>
  <div class="employee-filter">
    <div *ngFor="let skill of skills" (click)="toggleFilter(skill)" class="employee-filter__item" [ngClass]="{'active': has(skill)}">
      {{skill}}
    </div>
  </div>
</aside>

<main>
  <div class="employee-list">
    <h2>Employees</h2>
    <app-employee-card *ngFor="let employee of filteredEmployees"
                       class="employee-list__item"
                       [employee]="employee">
    </app-employee-card>
  </div>
</main>
