/* You can add global styles to this file, and also import other style files */


app-root {
  display: grid;
  grid-template-columns: 1fr;

  aside {
    grid-column: 1;
  }

  main {
    grid-column: 1;
  }
}

.employee-filter {
  list-style: none;


  .employee-filter__item {
    border: 1px solid black;
    margin-bottom: 8px;
    padding: 8px 20px;

    &.active {
      background-color: black;
      color: white;
    }
  }
}

.employee-list {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr;

  width: 300px;
  margin: 0 auto 12px auto;


  .employee-list__item {
    border: 1px solid black;
    padding: 4px 8px;

    display: grid;
    grid-gap: 12px;
    grid-template-columns: 1fr 2fr;

    img {
      grid-row: auto / span 2;
      width: 100px;
      max-height: 100px;
    }

    & > div {
      display: none;
    }
  }
}

@media only screen and (min-width: 640px) {
  .employee-list {
    width: 620px;

    .employee-list__item {
      grid-template-columns: 1fr 2fr 3fr;

      & > span {
        grid-column: 2;
      }

      & > div {
        display: inline-block;
        grid-column: 3;
        grid-row: 1 / span 2;
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  app-root {
    grid-template-columns: 1fr 5fr;

    main {
      grid-column: 2;
    }
  }
  .employee-list {
    width: 1024px;

    .employee-list__item {
      grid-template-row: 1fr 1fr 1fr;
      grid-template-columns: 1fr 2fr;

      & > span {
        grid-column: 2;
      }

      & > div {
        display: inline-block;
        grid-column: 1 / span 2;
        grid-row: 3 / auto;
      }
    }
  }
}
